<div class="card">
  <div class="card-body">
    <h5 class="card-title">CADASTRO DE PARCELAS</h5>
    <form>
      <div class="form-group">
        <label for="value">Valor da Parcela</label>
        <input #value type="number" class="form-control" aria-describedby="value" placeholder="0,00">
        <small id="value" class="form-text text-muted">Entre com o valor da parcela.</small>
      </div>
      <div class="form-group">
        <label for="installments">Quantidade de Parcelas</label>
        <input #installments type="number" class="form-control" placeholder="0">
      </div>
      <div class="form-group" *ngIf="resultCalculate != ''">
        <label class="font-weight-bold text-danger">Resultado: {{resultCalculate}}</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="calculate(value.value, installments.value)"> Salvar </button>
    </form>
  </div>
</div>
